.DS_Store

*.so
*.o
*.d
Makefile
last_build.lst
*algorithm*.txt
*.csv
.depend.*
GNUmakefile*
Makefile*
lib*
.*.swp
*.class
*.log
*.bag
*.vcxproj
*.vcxproj.filters
.vscode
capnproto/

gams.VC.db
gams.sdf
gams.sln
gams.v12.suo
gams.vcxproj.user

resource/vrep/starting.ttt

ros2gams
gams_controller
test_controller
test_controller_run
test_mape_loop
test_utility
test_variables
dynamic_simulation
drone_files/
test_madara_writer
test_madara_reader
hello_publisher
loop_rate_testing
test_arguments_parser
test_coordinates
test_formation_sync
test_location
test_euler
test_utm

bin/*
ACE_TAO/*
MPC/*
madara/
eigen/

#Ignore maven project files
target/
.project
.settings

blacklist
whitelist
*.bag
src/gams/types/*.c++
src/gams/types/*.h
!src/gams/types/Datatypes.h
*.bin
*.tar.gz
vrep/
capnproto/
MPC/
!src/gams/plugins/ros2gams

UnrealEngine
AirSim

